body {
  font-family: Arial;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

section {
  background: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
}

img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 10px 0;
}

footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 10px;
}